# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Default

steps:
- task: AzurePowerShell@5
  inputs:
    azureSubscription: 'MSEC_Candidates_Homeworks(a8108c2b-496c-424d-8347-ecc8afb6384c)'
    ScriptType: 'InlineScript'
    Inline: |
      # You can write your azure powershell scripts inline here. 
      # You can also pass predefined and custom variables to this script using arguments
      Import-Module -Name Az.Accounts -Force
      Import-Module -Name Az.Resources -Force
      Import-Module -Name Az.Profile -Force
      # Install-Module -Name Az -Scope CurrentUser
      Write-Host "Hello World"
    azurePowerShellVersion: 'LatestVersion'
    pwsh: false
